* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body main {
  margin: 2rem;
}

header {
  background: rgb(9, 74, 121);
  background: linear-gradient(90deg, rgba(9, 74, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);

  font-size: 2em;
}

h1 {
  padding: 0.8em;
}

.card {
  width: 25%;
  border: 2px solid lightblue;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.card-btn {
  display: block;
  margin-inline: auto;
  padding: 0.25rem 3rem;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  margin-bottom: 0.5rem;
}

label {
  display: block;
}
input,
textarea {
  min-width: 260px;
  border-radius: 4px;
}
form {
  width: max-content;
  margin-inline: auto;
}

.cards-form-generator {
  margin-bottom: 1rem;
}

#cards-container {
  padding: 2rem;
  text-align: center;
}

footer {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 74, 121, 1) 100%);
  font-size: 1em;
  padding: 0.8em;
}
